.post-box
  = form_for [@group, @message] do |f|
    .msg-input
      = f.text_field :content, class: 'msg-input__textbox', placeholder: "type a message"
      = f.label :image, class: "msg-input__img-upload-btn" do
        = f.file_field :image, class: 'msg-input__img-upload-btn--none'
        =link_to "" do
          = fa_icon 'image', class: "msg-input__img-upload-btn--image"
    = f.submit 'Send', class: 'post-box__submit-btn'